body{
    background-color: black;
    color: white;
}
div{
    position: relative;
    width: fit-content;
    height: fit-content;
}
p{
    display: block;
    font-family: cursive;
    position: absolute;
    font-size: xx-large;
}
#countdown{
    top: 100px;
}
#days{
    top: 0px;
    left: 0px;
}
#hours{
    top: 0px;
    left: 60px;
}
#minutes{
    top: 0px;
    left: 120px;
}
#seconds{
    top: 0px;
    left: 190px;
}
