body{
    background-color: black;
    color: white;
}
div{
    position: relative;
    width: fit-content;
    height: fit-content;
}
p{
    display: block;
    font-family: cursive;
    position: absolute;
    font-size: xx-large;
}
#countdown{
    top: 100px;
}
#days{
    top: 0px;
    left: 0px;
}
#hours{
    top: 0px;
    left: 60px;
}
#minutes{
    top: 0px;
    left: 120px;
}
#seconds{
    top: 0px;
    left: 190px;
}
a{
    color: rgb(32, 36, 30);
    text-decoration: none;
}
:active{
    color: rgb(32, 36, 30);
}
::after{
    color: rgb(32, 36, 30);
}
#live{
    top: 200px;
    left: 50px;
    height: 40px;
    width: 80px;
    background-color: white;
    animation: z 2s ease infinite;
}

@keyframes z {
    0%{
        top: 200px;
        left: 50px;
        height: 40px;
        width: 80px; 
        font-size: large;
    }
    50%{
        height: 80px;
        width: 120px;
        top: 180px;
        left: 30px;
        font-size: xx-large;
    }
    100%{
        top: 200px;
        left: 50px;
        height: 40px;
        width: 80px;
        font-size: large;
    }
}
